.row-of-cards {
  display: flex; /* Use flexbox to create rows */
  flex-wrap: wrap; /* Wrap cards to the next line when they don't fit */
  flex: 0 0 66.666667%;
}

.flip-card {
  width: 160px; /* Reduce the width to make the card smaller */
  height: 175px; /* Reduce the height to make the card smaller */
  margin-inline: 4px;
  margin-bottom: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 6px;
  word-wrap: break-word;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
}

.modern-text-bg {
  position: absolute;
  bottom: 0;
  left: 0; /* Align text to the left */
  width: 100%; /* Make the background cover the whole width */
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Adjust the color and opacity as needed */
  color: #fff; /* Text color (changed to #fff) */
  padding: 8px 16px; /* Adjust padding as needed */
  border-radius: 0 0 4px 4px; /* Adjust the radius to get the desired shape */
}

.modern-text-bg #civ-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.4px;
}

.flip-card-back {
  background-color: #2980b9;
  font-size: 12px;
  color: #fff;
  transform: rotateY(180deg);
  overflow: auto;
}

.flip-card-back #civ-text {
  padding-inline: 2vh;
  padding-top: 1vh;
}
