.civ-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the content horizontally */
  margin-left: 12%;
  margin-right: 12%; /* Add padding to create space on the left and right sides */
}

.cards-container {
  /* Adjust width and other styles as needed */
  width: 100%;
  display: flex;
  justify-content: center;
}

.row {
  /* Adjust width and other styles as needed */
  width: 100%;
  flex: 1;
}

.search-bar-container {
  flex: 0 0 290px; /* You can adjust the width as needed */
  margin-left: 10px; /* You can adjust the spacing between the row and the search bar */
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.nk-widget ~ .nk-widget {
  margin-top: 30px;
}

.nk-widget {
  overflow: hidden;
}

.nk-widget-highlighted .nk-widget-title {
  position: relative;
  padding-top: 30px;
  margin-bottom: 0;
  z-index: 1;
}

.nk-widget-highlighted .nk-widget-title > span {
  display: inline-block;
  padding-right: 23px;
}

.text-main-1 {
  color: #dd163b !important;
}

.nk-widget .nk-widget-title {
  margin-bottom: 15px;
  font-size: 1.22rem;
  text-transform: uppercase;
}

.nk-widget-highlighted .nk-widget-title::after {
  content: "";
  position: absolute;
  display: block;
  top: 32px;
  right: 1px;
  left: 30px;
  height: 3px;
  background-color: white;
  z-index: -1;
}

.nk-widget-post {
  padding-left: 110px;
}

.nk-widget-post .nk-post-image {
  display: flex;
  margin-top: 1vh;
  float: left;
  width: 90px;
  margin-left: -110px;
  overflow: hidden;
  justify-content: center;
  -webkit-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.nk-widget-post .nk-post-image img {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  -o-transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  will-change: transform;
}

.nk-widget-post .nk-post-title {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.15rem;
}

.nk-post-title > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.15s color;
  -o-transition: 0.15s color;
  transition: 0.15s color;
}

.nk-post-date {
  margin-top: 5px;
  font-size: 0.9em;
  color: #7f8b92;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.nk-widget-post + .nk-widget-post {
  padding-top: 20px;
  margin-top: 22px;
  border-top: 1px solid #293139;
}
