/* CSS for BuildOrdersPage component */

.build-orders-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.build-order-table {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
}

.build-order-table th,
.build-order-table td {
  border: 1px solid #e1e1e1;
  padding: 12px;
  text-align: center;
}

.build-order-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.build-order-table td:nth-child(odd),
.build-order-table th:nth-child(odd) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.build-order-table th img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

/* Hover effect for table rows */
.build-order-table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Media query for responsive design */
@media screen and (max-width: 600px) {
  .build-order-table {
    font-size: 14px;
  }
}
