/* Header.css */

/* Header container */
.navbar {
  background-color: #2196f3; /* Use your desired header background color */
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Search box styles */
.search-box {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-right: auto;
}

/* Navigation links styles */
.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

/* Menu items styles */
.menu li {
  margin-right: 20px;
}

/* NavLink styles */
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}

.menu a:hover,
.menu .active {
  background-color: #1565c0; /* Use your desired active/hover background color */
}

/* Logout button styles */
.menu button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.menu button:hover {
  background-color: #f44336; /* Use your desired logout button background color */
}
