/* NAVBAR STYLING STARTS */
/* UTILITIES */
@import "./fonts/fonts.css";

* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  padding: 0px;
  margin: 0px;
  font-family: Trebuchet MS;
}

a {
  text-decoration: none;
}

div {
  display: block;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #c52118;
  color: #fff;
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
  align-items: center;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

.search-box {
  display: flex;
}

.nav-links a {
  color: #fff;
}

.nav-links a:hover {
  color: black;
}
/* LOGO */

.search-box {
  font-size: 22px;
}

/* NAVBAR MENU */

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: white;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */

.services {
  position: relative;
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}
