.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5; /* Use a light background color */
  font-family: "Roboto", sans-serif; /* Use a modern font */
}

.login-page h2 {
  margin-bottom: 20px;
  font-weight: 500; /* Add some font-weight for emphasis */
}

.login-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px; /* Slightly increase the form width for modern devices */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.login-page div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-page label {
  font-weight: 500; /* Add some font-weight for emphasis */
  margin-bottom: 5px;
}

.login-page input {
  padding: 12px; /* Slightly increase the input padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  transition: border-color 0.2s ease-in-out; /* Add a transition for a smooth focus effect */
}

.login-page input:focus {
  outline: none;
  border-color: #007bff; /* Add a modern focus color */
}

.login-page button {
  padding: 12px; /* Slightly increase the button padding */
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease-in-out; /* Add a transition for a smooth hover effect */
}

.login-page button:hover {
  background-color: #0056b3; /* Slightly darken the background on hover */
}
