/* LoginPage.css */

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-page h2 {
  margin-bottom: 20px;
}

.signup-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.signup-page div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.signup-page label {
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-page input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.signup-page button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
